In [97]:
import pandas as pd
pd.set_option("display.max_columns", 17)
#pd.set_option("display.max_rows", 4)

# Lab Task

In [120]:
df = pd.read_csv("./Datasets/K230686-Bakery.csv", index_col=0)

In [121]:
df.head()

,Initial Cost ($),Ingredient Cost ($/lbs),Labor Charge ($/hr),Batches per Hour,Items per Batch,Ingredients per Batch (lbs),Item Sale Price ($)
Item,,,,,,,
Cookies,1580,3.75,30,2.000000,250,15,2.00
Cake,2000,4.00,30,0.666667,5,2,34.00
Bagels,680,2.50,25,400.000000,1,20,1.75
Bread Loaf,310,3.00,40,1.000000,500,2,3.00

In [155]:
from tabulate import tabulate


headers = [ "Item", "Initial Cost ($)", "ingr_cost($/hr)", "labour_cost($/hr)", "sale($/hr)" ]
rows = []
for item in df.index:
    initial_cost = df.loc[item, "Initial Cost ($)"]
    ingredient_cost_hourly = df.loc[item, "Ingredient Cost ($/lbs)"]*df.loc[item, "Ingredients per Batch (lbs)"]*df.loc[item, "Batches per Hour"]
    labour_cost_hourly = df.loc[item, "Labor Charge ($/hr)"]
    sale_hourly = df.loc[item, "Batches per Hour"]*df.loc[item, "Items per Batch"]*df.loc[item, "Item Sale Price ($)"]
    rows.append( [item, initial_cost, ingredient_cost_hourly, labour_cost_hourly, sale_hourly] )

print(tabulate(rows, headers=headers, tablefmt="grid"))
print("\n")

print("Initial Cost($)  Profit($/hr)")
for row in rows:
    row[4] -= row[2] + row[3]
    print(f"{row[1]}             {row[4]}")
print("\n")

print("Minuets to recover Initial Investment")
for row in rows:
    if row[4]<=0: 
        print(0)
        continue
    hours = row[4]/row[1]*60
    print(f"{hours:.2f}")
print("\n")

print("Bagel is best item")

+------------+--------------------+-------------------+---------------------+--------------+
| Item       |   Initial Cost ($) |   ingr_cost($/hr) |   labour_cost($/hr) |   sale($/hr) |
+============+====================+===================+=====================+==============+
| Cookies    |               1580 |         112.5     |                  30 |     1000     |
+------------+--------------------+-------------------+---------------------+--------------+
| Cake       |               2000 |           5.33333 |                  30 |      113.333 |
+------------+--------------------+-------------------+---------------------+--------------+
| Bagels     |                680 |       20000       |                  25 |      700     |
+------------+--------------------+-------------------+---------------------+--------------+
| Bread Loaf |                310 |           6       |                  40 |     1500     |
+------------+--------------------+-------------------+---------------------+--------------+


Initial Cost($)  Profit($/hr)
1580             857.5
2000             78.000000054
680             -19325.0
310             1454.0


Minuets to recover Initial Investment
32.56
2.34
0
281.42


Bagel is best item

In [98]:
df = pd.read_csv("./Datasets/03/zomato.csv")

In [99]:
df.head()

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

In [100]:
df.shape

(51717, 17)

# 1. Deleting Redundant Columns

In [101]:
df = df.drop( columns=["location", "listed_in(city)"] )
df.head(2)

,url,address,name,online_order,book_table,rate,votes,phone,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet

# 2. Renaming Columns

In [93]:
df = df.rename( columns={"rate":"rating", "phone":"phone_number", "rest_type":"restaurant_type"} )
df.head(2)

,url,address,name,online_order,book_table,rating,votes,phone_number,restaurant_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet

# 3. Dropping Duplicate Rows

In [108]:
df = df.drop_duplicates()
df.shape # same as before: no Duplicate Rows

(23193, 15)

# 4. Cleaning Individual
Mapped book_table to 1/0 for easier processing

In [104]:
def boolify(x):
    return 1 if x=="Yes" else 0
    
df["book_table"] = df["book_table"].apply(boolify)
df

,url,address,name,online_order,book_table,rate,votes,phone,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,1,4.1/5,775,080 42297555\r\n+91 9743772233,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,0,4.1/5,787,080 41714161,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,0,3.8/5,918,+91 9663487993,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,0,3.7/5,88,+91 9620009302,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,0,3.8/5,166,+91 8026612447\r\n+91 9901210005,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51712,https://www.zomato.com/bangalore/best-brews-fo...,"Four Points by Sheraton Bengaluru, 43/3, White...",Best Brews - Four Points by Sheraton Bengaluru...,No,0,3.6 /5,27,080 40301477,Bar,NaN,Continental,"1,500","[('Rated 5.0', ""RATED\n Food and service are ...",[],Pubs and bars
51713,https://www.zomato.com/bangalore/vinod-bar-and...,"Number 10, Garudachar Palya, Mahadevapura, Whi...",Vinod Bar And Restaurant,No,0,NaN,0,+91 8197675843,Bar,NaN,Finger Food,600,[],[],Pubs and bars
51714,https://www.zomato.com/bangalore/plunge-sherat...,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Plunge - Sheraton Grand Bengaluru Whitefield H...,No,0,NaN,0,NaN,Bar,NaN,Finger Food,"2,000",[],[],Pubs and bars
51715,https://www.zomato.com/bangalore/chime-sherato...,Sheraton Grand Bengaluru Whitefield Hotel & Co...,Chime - Sheraton Grand Bengaluru Whitefield Ho...,No,1,4.3 /5,236,080 49652769,Bar,"Cocktails, Pizza, Buttermilk",Finger Food,"2,500","[('Rated 4.0', 'RATED\n Nice and friendly pla...",[],Pubs and bars
51716,https://www.zomato.com/bangalore/the-nest-the-...,"ITPL Main Road, KIADB Export Promotion Industr...",The Nest - The Den Bengaluru,No,0,3.4 /5,13,+91 8071117272,"Bar, Casual Dining",NaN,"Finger Food, North Indian, Continental","1,500","[('Rated 5.0', 'RATED\n Great ambience , look...",[],Pubs and bars

#  5. Remove NaN

In [106]:
df = df.dropna()
df.shape

(23193, 15)

In [107]:
df.head(2)

,url,address,name,online_order,book_table,rate,votes,phone,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,1,4.1/5,775,080 42297555\r\n+91 9743772233,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,0,4.1/5,787,080 41714161,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet